@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

.main-menu ul li {
  margin: 10px 20px;
}

.main-menu ul li a {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #18171c;
}

.main-menu ul li a:hover {
  color: #fcda69;
  background: transparent;
}

.main-menu ul li .show {
  color: black;
}

.main-menu form {
  position: relative;
}

.main-menu form .form-control {
  border: transparent;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.main-menu form .form-control:focus {
  -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 254, 254, 0.6);
          box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 254, 254, 0.6);
}

.main-menu form .btn {
  position: absolute;
  top: 0;
  right: 0;
}

.banner {
  padding: 100px 0;
}

.banner__hello {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #8873f0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.banner__titel {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #18171c;
}

.banner__para {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #464549;
  padding: 60px 0;
  position: relative;
  margin-left: 60px;
  padding-right: 80px;
}

.banner__para:after {
  content: "";
  position: absolute;
  top: 42%;
  left: -58px;
  width: 30px;
  height: 2px;
  background: #000;
  -webkit-transform: translateY(-42%);
          transform: translateY(-42%);
}

.banner__talk {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding: 20px 30px;
  background: #8873f0;
  border: 1px solid #8873f0;
  border-radius: 20px;
  margin-right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.banner__talk i {
  margin-left: 10px;
}

.banner__talk:hover {
  color: #8873f0;
  background: white;
  border: 1px solid #8873f0;
}

.banner__port {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #18171c;
  padding: 20px 30px;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid white;
}

.banner__port i {
  margin-left: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.banner__port:hover {
  color: #8873f0;
  background: white;
  border: 1px solid #8873f0;
}

.banner__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 20px;
}

.banner__spara {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #18171c;
}

.banner__photo {
  position: relative;
}

.banner__ptext {
  position: absolute;
  top: 10%;
  right: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #18171c;
}

.banner__learn {
  position: absolute;
  top: 40%;
  left: 23%;
  width: 30%;
  -webkit-transform: translate(23% 40%) scale(1);
          transform: translate(23% 40%) scale(1);
  -webkit-transition: .4s;
  transition: .4s;
}

.banner__learn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner__icon {
  font-size: 25px;
  padding: 30px;
  border-radius: 50%;
  background: #f6f6f6;
  line-height: 25px;
  text-align: center;
  margin-left: 30px;
  color: #464549;
  margin-top: -25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.banner__icon:hover {
  color: white;
  background: #8873f0;
}

.banner__sidetext {
  position: absolute;
  bottom: 0;
  right: -80px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #18171c;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #18171c;
}

.service {
  background: #fcda69;
  padding: 200px 0;
}

.service__item {
  margin-bottom: 30px;
  position: relative;
}

.service__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
}

.service__number {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #18171c;
  margin-top: 10px;
}

.service__text {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #18171c;
  margin-top: 10px;
}

.service__para {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #464549;
  margin-top: 50px;
}

.service__icon {
  font-size: 30px;
  width: 50px;
  height: 50px;
  background: #8873f0;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin-top: 150px;
  color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .4s;
  transition: .4s;
}

.service__icon:hover {
  color: #8873f0;
  background: white;
}

.service__img {
  margin-top: 150px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s;
  transition: .4s;
}

.service__img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.service__bottomimg {
  position: relative;
}

.service__imgarrow {
  position: absolute;
  bottom: 53px;
  left: 65px;
  font-size: 45px;
  color: #8873f0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service__imgarrow:hover {
  color: white;
}

.skill {
  padding: 200px 0;
}

.skill__title {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #18171c;
  margin-top: 50px;
}

.skill__skilldetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill__item {
  width: 160px;
  margin-top: 50px;
}

.skill__item:hover .skill__itemicon {
  background: #8873f0;
  color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skill__item:hover .skill__itemtitle {
  color: #18171c;
}

.skill__itemicon {
  font-size: 30px;
  width: 60px;
  height: 60px;
  background: #000;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.skill__itemtitle {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #464549;
  margin-top: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.skill__exptitle {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #18171c;
  margin-bottom: 50px;
  margin-top: 20px;
}

.skill__expitem {
  margin-bottom: 20px;
  position: relative;
}

.skill__expitem:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
}

.skill__number {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #18171c;
  margin-top: 10px;
}

.skill__text {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #18171c;
  margin-top: 10px;
}

.skill__para {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #464549;
  margin-bottom: 20px;
  margin-top: 10px;
}

.skill__hire {
  position: relative;
}

.skill__meimg {
  position: absolute;
  right: 0;
  bottom: -530px;
}

.skill__hireme {
  position: absolute;
  top: 360px;
  right: 120px;
  z-index: 9999;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s;
  transition: .4s;
}

.skill__hireme:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project {
  padding: 200px 0;
  background: #fcda69;
  margin-top: 30px;
  position: relative;
}

.project__item {
  margin-top: 70px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.project__item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
}

.project__item:hover {
  -webkit-filter: drop-shadow(0 0 0.2rem black);
          filter: drop-shadow(0 0 0.2rem black);
}

.project__item2 {
  margin-top: 150px;
}

.project__ititle {
  margin-top: 30px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #18171c;
}

.project__ipara {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #464549;
  margin-top: 10px;
}

.project__icon {
  margin-top: 30px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #8873f0;
  text-align: center;
  line-height: 50px;
  color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.project__icon:hover {
  background: white;
  color: #8873f0;
}

.project__aicon {
  display: inline-block;
  padding-left: 35px;
}

.project__img {
  margin-top: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.project__viewproject {
  margin-top: 100px;
  margin-left: 235px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.project__viewproject:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.testi {
  padding: 200px 0;
}

.testi__slider {
  margin-top: 50px;
  position: relative;
}

.testi__text {
  padding: 20px 0px;
}

.testi__comm {
  margin-top: 100px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #464549;
  line-height: 40px;
  width: 700px;
  position: relative;
}

.testi__comm:before {
  content: "";
  position: absolute;
  top: -20px;
  left: -50px;
  width: 115%;
  height: 1px;
  background: #000;
}

.testi__comm:after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 115%;
  height: 1px;
  background: #000;
}

.testi__name {
  margin-top: 30px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #18171c;
}

.testi__desig {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #464549;
  margin-top: 5px;
}

.testi__prev {
  position: absolute;
  bottom: 0;
  right: 170px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.testi__prev:hover {
  background: #8873f0;
  border: 1px solid #8873f0;
  color: white;
}

.testi__next {
  position: absolute;
  bottom: 0;
  right: 103px;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.testi__next:hover {
  background: #8873f0;
  border: 1px solid #8873f0;
  color: white;
}

.footer {
  background: #fcda69;
  padding-top: 200px;
}

.footer__email {
  margin-top: 100px;
  position: relative;
  padding-bottom: 0 !important;
}

.footer__email:after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background: #000;
  top: -20px;
  left: 0;
}

.footer__location {
  margin-top: 100px;
  position: relative;
}

.footer__location:after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background: #000;
  top: -20px;
  left: 0;
}

.footer__contacticon {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: #18171c;
  margin-right: 30px;
}

.footer__infotitle {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #464549;
}

.footer__infoemail {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #18171c;
  margin-top: 5px;
}

.footer__emailcolor {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #18171c;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__round {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__hello {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #18171c;
  text-align: center;
  line-height: 400px;
}

.footer__anc {
  display: block;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer__anc:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__icon {
  font-size: 30px;
}

.footer__bottom {
  margin-top: 100px;
  position: relative;
}

.footer__bottom:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  top: 0px;
  left: 0;
}

.footer__bottomtext {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #464549;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */