@import "../variables/variables";
@import "../mixins/mixins";

.testi {
  padding: 200px 0;

  &__slider {
    margin-top: 50px;
    position: relative;
  }

  &__text {
    padding: 20px 0px;
  }

  &__comm {
    margin-top: 100px;
    @include font($ff, 16px, 400, $pcolor);
    line-height: 40px;
    width: 700px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: -20px;
      left: -50px;
      width: 115%;
      height: 1px;
      background: #000;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -100px;
      left: -50px;
      width: 115%;
      height: 1px;
      background: #000;
    }
  }

  &__name {
    margin-top: 30px;
    @include font($ff, 20px, 400, $tcolor);
  }

  &__desig {
    @include font($ff, 14px, 400, $pcolor);
    margin-top: 5px;
  }

  &__prev {
    position: absolute;
    bottom: 0;
    right: 170px;
    z-index: 1;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background: $hcolor;
      border: 1px solid $hcolor;
      color: white;
    }
  }
  &__next {
    position: absolute;
    bottom: 0;
    right: 103px;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background: $hcolor;
      border: 1px solid $hcolor;
      color: white;
    }
  }
}
